body {
    background: white;
    color: black;
}

.news {
	font-size: 1rem;
	text-align: center;
}

.news__header {
	padding: 1em 0;
	font-size: 2em;
}

.news__block {
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.news__column {
    width: 33%;
}

.news__itam {
    margin: 2em 1em;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.17);
}

.news__img {
    width: 100%;
}

.news__dascription {
    padding: 0 1em;
}

.news__item-header {
    text-align: center;
}

.news__text {
    color: #666;
}

.news__link {
    display: inline-block;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    background: var(--DodgerBlue);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.7;
}

.news__itam a:hover {
    opacity: 1;
}

.news__info {
    padding: 1em;
    border-top: 1px solid lightgray;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.17);
}

.news__date-of-publication {
    font-weight: bold;
}

@media (max-device-width: 850px) {
    .news__column {
        width: 100%;
    }
}

